*{
    font-family:Roboto ;
}
.header{
    width: 100%;
    height:72px;
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    
}
body{
    margin:0px;
}
.head{
    width: 70%;
    height: 72px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.img1{
   width: 72px; 
}
#ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    color: white;
    
}
.section1{
    height: 633px;
    width: 100%;
    background-image: url("./images/hero_1920x700.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1-main{
 width: 400px;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin: 0px;
}
p{
    margin: 0px;
}
.section2{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section3{
width: 100%;
height: 890px;

display: flex;
justify-content: center;
}
.main{
    width: 70%;
    height: 811px;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

}
/* .main-div{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.image{
width: 90%;
border-radius: 20px;
}
.para{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #606060;
}
.section4{
    width: 100%;
    height: 580px;
   
    display: flex;
    justify-content: center;
}
.section4-main{
    width: 70%;
    height: 580px;
    
    display: flex;


}
.main-div1{
    width: 60%;
    height: 100%;
   
}
.main-div2{
    width: 40%;
    height: 100%;
 
}
.paragraph{
    width: 80%;
    margin-top: 2px;
    
    
}
#section4-img{
    width: 75%;
}
.section5{
    width: 100%;
    height: 550px;
    background-color: black;
    display: flex;
}
.section5-div1{
    width: 50%;
    height: 700px;
  
}
.section5-div2{
    width: 50%;
    height: 700px;
   
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}
.sec-5img{
    position: relative;
    top: -82px;
    right: 0px;
}
#sec-5button{
    width: 115px;
    height: 35px;
    border-radius: 5px;
}
#sec-5button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
#sec5head{
    
    margin-top: 100px;
}
.footer{
    width: 100%;
    height: 150px;
    color: rgb(129, 129, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;


}
.dropdown{
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 72px;
    display: none;
}
#careers:hover .dropdown{
    display: block;
    color: rgb(0, 255, 42);
}
.dropdown1{
    width: 100%;
    height: 300px;
    background-color: rgb(236, 4, 4);
    position: absolute;
    top: 72px;
    display: none;
}
#licensing:hover .dropdown1{
    display: block;
    color: rgb(78, 13, 245);
}